* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}
.footer-logo{
  
  height: 10vh;
}
footer {
  background-color: #0d47a1;
  padding: 40px 20px;
  color:white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  color:white;
}

.footer-column {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color:white;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin: 8px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #d33682;
}

.logo {
  width: 100px;
  margin-bottom: 15px;
}

.social-icons a {
  margin-right: 10px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #d33682;
}

.footer-column p {
  margin: 8px 0;
}

.footer-column i {
  margin-right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    margin: 20px auto;
  }
}
