/* .user-dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
}


.sidebar {
  width: 25%;
  background-color: #f0f2f5;
  padding: 20px;
}


.main-content {
  width: 75%;
  padding: 30px;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .user-dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .main-content {
    width: 100%;
    padding: 20px;
    padding-bottom: 70px; 
} */
